<!--
These are the actions that can be executed regarding a kit (such as modifying it)
-->

<a class="btn btn-primary red" href="user/removeKit/{{this._id}}"><i class="material-icons">close</i></a>
<a class="btn btn-primary green" href="user/editkit/{{this._id}}">
    <i class="material-icons">mode_edit</i>
</a>
