<!-- Top Level Navigation -->

{{#if login }}
		<a href="user/logout">Logout</a>
		<a href="user/submit" class="btn btn-floating pulse"><i class="material-icons">add</i></a>
{{else}}
	Welcome! Please <a href="user/login">log in</a>.
{{/if}}
