<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <!-- Dependancies -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/materialize.min.css' />

    <!-- Custom -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
      <a id="top"><!-- Shall remain top of page (for srcoll-to-top) --> </a>
      {{{body}}}

      <!-- Dependancies -->
      <script type="text/javascript" src="javascripts/libs/jquery.min.js"></script>
      <script type="text/javascript" src="javascripts/libs/materialize.min.js"></script>

      <!-- Main Script -->
      <script type="text/javascript" src="javascripts/main.min.js"></script>
  </body>
</html> 
