<!--
Refernece / Credit/s: https://terrymooreii.github.io/materialize-social/
-->

<a href="/user/auth/github" class="waves-effect waves-light btn-large social github">
<i class="fa fa-github"></i> Sign in with github</a>
