/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Components */
.searchbar-div {
  position: fixed; }

.searchbar-div input {
  background-color: rgba(204, 204, 179, 0.7) !important;
  color: black !important;
  font-size: 150%; }

.searchbar-div input:focus {
  font-size: 310%;
  color: black !important;
  background-color: rgba(204, 204, 179, 0.9) !important; }

.btn-submit {
  background-color: green; }
  .btn-submit i {
    color: white; }

.btn-delete {
  text-decoration: none;
  background-color: red; }
  .btn-delete i {
    color: white; }

.kit .container {
  padding-left: 33%;
  padding-right: 33%; }

.hidden {
  visibility: hidden; }

.show {
  visibility: visible; }

/*/// Categories \\\*/
.matching-result {
  color: green;
  font-size: 150%;
  font-weight: bold; }

.kit-name * {
  font-size: 140%;
  font-weight: bold; }

.kit-author * {
  font-size: 140%;
  font-weight: bold; }

.kit-environment * {
  font-size: 130%;
  font-weight: bold; }

.kit-subTool * {
  font-size: 120%;
  font-weight: bold; }

.kit-setupTime * {
  font-size: 120%;
  font-weight: bold; }

.kit-description * {
  font-size: 120%;
  font-weight: bold; }

.kit-popularity * {
  /* note: may have to be styled according to Github's standards */ }

.kit-lastUpdated * {
  font-size: 120%;
  font-weight: bold; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.github {
  background-color: #444444;
  color: #fff !important; }

.github i {
  color: #fff !important; }

.github:hover {
  background-color: #5e5e5e !important; }
